@import url("https://fonts.googleapis.com/css2?family=Sarala&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-color: #E9E5D6;
  
}

#wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #464E2E;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #362706;
  padding: 13px;
  flex-wrap: wrap;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.logo {
  height: 72px;
  margin: 15px 15px 15px 0px;
  border-radius: 15px;
}

.nav-top {
  display: flex;
  gap: 20px;
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  list-style: none;
}

.nav-top-item {
  display: flex;
}

nav li 
a {
  color: #E9E5D6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.first-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  flex-wrap: wrap;
}

.intro-txt {
  max-width: 350px;
  font-size: larger;
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #E9E5D6;
}
.perfil-picture {
  width: 150px;
  border-radius: 50%;
  margin-right: 24px;
  border: #E9E5D6 solid 1px;
}

.first-hr {
  width: 70%;
  margin: auto;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social {
  list-style: none;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #362706;
  padding: 20px;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #E9E5D6;
  font-size: small;
  font-style: italic;
}

@media (max-width:500px){
  #wrapper {
    width: 100%;
  }
  header{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}